{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Agents {% endblock %}</h1>
    {% for agent in agents %}
        <div class='agent'>
            <h3>#{{ agent[0] }}: {{ agent[1] }} ver. {{ agent[3] }} @ {{ agent[2] }}</h3>
            <p><b>path:</b> <tt>{{ agent[4] }}</tt> </p>
            <p><b>abilities:</b> {{ agent[5] }} </p>
            <p><b>parameters:</b> <pre class='parameters'>{{ agent[6] }}</pre></p>
        </div>
    {% endfor %}
    <br>
    <h1>{% block title2 %} Tasks {% endblock %}</h1>
    {% for task in tasks %}
        <div class='task'>
            <h3>#{{ task[0] }}: {{ task[1] }} / {{ task[2] }} / {{ task[3] }} ver. {{ task[5] }} @ {{ task[4] }}</h3>
            <p><b>path:</b> <tt>{{ task[6] }}</tt> </p>
            <p><b>required abilities:</b> {{ task[7] }} </p>
            <p><b>parameters:</b> <pre class='parameters'>{{ task[8] }}</pre></p>
        </div>
    {% endfor %}
{% endblock %}